{% extends "common.html" %}

{% block content %}
    <h2>Nos produits</h2>

    <div class="grid-produits">
        {% if not produits %}
            <p>Aucun produit disponible pour le moment.</p>
        {% endif %}
        {% if produits %}
            {% for produit in produits %}
                <div class="card">
                    <h3>{{ produit.nom }}</h3>
                    <p>{{ produit.prix }} €</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}